body {
    font-family: 'Josefin Slab', serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: #3a3a3a;
}

h1 {
    font-size: 3em;
    font-weight: normal;
    font-family: 'Fredericka the Great', cursive;
}

html {
    height: 100%;
}

p {
    font-size: 1.5em;
}

section {
    background-color: #AF927D;
    text-shadow: 0 1px 1px #dcdcdc;
    color: #3a3a3a;
    -webkit-box-shadow: 0 10px 15px 0 rgba(102,102,102,1);
    -moz-box-shadow: 0 10px 15px 0 rgba(102,102,102,1);
    box-shadow: 0 10px 15px 0 rgba(102,102,102,1);
}

section > * {
    margin: 10px;
    width: 100%;
    text-align: center;
}

section > figure {
    margin-top: 0;
    background: -webkit-linear-gradient(top, #fff 50%, #AF927D 50%);
    background: -moz-linear-gradient(top, #fff 50%, #AF927D 50%);
    background: -ms-linear-gradient(top, #fff 50%, #AF927D 50%);
    background: linear-gradient(top, #fff 50%, #AF927D 50%);
}

section > figure > div {
    width: 512px;
    height: 512px;
    display: inline-block;
    background-image: url(../images/shopolet-logo-512X512.png);
}

body, section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-device-width: 736px) {
    body {
        font-size: 1em;
    }

    section > figure > div {
        width: 256px;
        height: 256px;
        background-image: url(../images/shopolet-logo-256X256.png);
    }
}

@media (max-width: 736px) {
    body {
        font-size: 1em;
    }

    section > figure > div {
        width: 256px;
        height: 256px;
        background-image: url(../images/shopolet-logo-256X256.png);
    }
}
